.preloader {
  position: relative;
  min-height: 75px;
}

.preloader__text {
  text-align: center;
  color: #666;
  margin-top: 58px;
  font-size: 14px;
}

.preloader__spinner {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin .75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}